body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b4b3b3;
}
  
  .logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #196bdf;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  
  header {
    position: relative; /* Pour que le bouton se positionne par rapport au header */
  }
  nav a {
    margin: 0 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .container iframe {
    max-width: 100%;
  }

  .user-menu {
    position: absolute;
    top: 70px;
    left: 20px;
  }
  
  .user-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  #menu-deroulant {
    display: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 5px;
  }
  
  #menu-deroulant a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #196bdf;
    font-weight: bold;
  }
  
  #menu-deroulant a:hover {
    background: #f0f0f0;
  }
  
  .menu-visible { display: block; }
  .menu-hidden { display: none; }
  