body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
  }
  
  header {
    background-color: #196bdf;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #196bdf;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  
  header {
    position: relative; /* Pour que le bouton se positionne par rapport au header */
  }